input[type="text"] {
  height: 16px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
  line-height: 16px;
  background: #fff;
  color: #888;
}


input[type="text"]:focus {
  color: #333;
}

input.add {
  width: 70%;
}

label {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

p.appbox {
  display: flex;
  margin-right: 5%;
}

p.appbox button {
  flex: none;
  margin-left: auto;
}


li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  border-bottom: 1px solid #eee;
  padding: 20px 0;
}

li>label {
  width: 200px;
}